In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import os
import pandas as pd
import requests

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\lmode\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

In [3]:
# headline/story

url = 'https://redplanetscience.com/'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

news_title = soup.find_all("div", {"class": "content_title"})[0].text
news_note = soup.find_all("div", {"class": "article_teaser_body"})[0].text

print(news_title)
print(news_note)

NASA Mars Mission Connects With Bosnian and Herzegovinian Town
A letter from NASA was presented to the mayor of Jezero, Bosnia-Herzegovina, honoring the connection between the town and Jezero Crater, the Mars 2020 rover landing site.

In [4]:
# featured image

url = 'https://spaceimages-mars.com/'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

firsta = soup.find_all("a", {"class": "showimg fancybox-thumbs"})[0]
href = firsta.get("href")
featured_image_url = str(browser.url) + str(href)
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [3]:
# facts

url = 'https://galaxyfacts-mars.com/'
browser.visit(url)

tables = pd.read_html(url)
tables_df = pd.DataFrame(tables[0])
tables_df.columns = tables_df.iloc[0]
tables_df.drop(0, inplace=True)

table_html = tables_df.to_html(index=False)

In [4]:
print(table_html)
tables_df.head(10)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars - Earth Comparison</th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th></th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th></th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th></th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th></th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th></th>
      <td>Temperature:</td>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [ ]:
# hemispheres

hemisphere_image_urls = {}
img_url = ""
title = ""

for x in range(1, 8, 2):
    url = 'https://marshemispheres.com/'
    browser.visit(url)
    html = browser.html
    soup = bs(html, 'html.parser')
    a = soup.find_all("a", {"class": "itemLink product-item"})[x]
    
    title_tagged = a.h3
    title = title_tagged.text

    href = a.get("href")
    image_search_url = str(url) + str(href)

    browser.visit(image_search_url)
    html = browser.html
    soup = bs(html, 'html.parser')

    a = soup.find_all("a")[3]
    href = a.get("href")
    img_url = str(url) + str(href)
    hemisphere_image_urls.update({"title"+ str(x):title, "img_url"+ str(x):img_url})

In [ ]:
print(hemisphere_image_urls)

In [ ]:
browser.quit()